
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Libros y Autores</title>
    <link rel="stylesheet" href="/public/Style.css">
    
</head>
<body>
    <h1>Autores</h1>    
    <form action="/validar" method="POST">
        <div class="form-group">
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" required>
        </div>
        <div class="form-group">
            <label for="apellido">Apellido:</label>
            <input type="text" id="apellido" name="apellido" required>
        </div>
        <div class="form-group">
            <label for="fechaNac">Fecha de nacimiento:</label>
            <input type="text" id="fechaNac" name="fechaNac" required>
        </div>

    <h1>Libros</h1>
        <div class="form-group">
            <label for="titulo">Titulo:</label>
            <input type="text" id="titulo" name="titulo">
        </div>
        <div class="form-group">
            <label for="fechaP">fecha de publicacion:</label>
            <input type="text" id="fechaP" name="fechaP">
        </div>
        <div class="form-group">
            <label for="Precio">Precio:</label>
            <input type="text" id="Precio" name="Precio">
        </div>
        <button type="submit">Enviar</button>
    </form>


    <style>
        body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1 {
    text-align: center;
    color: #333;
    margin-top: 20px;
}

form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button[type="submit"] {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

    </style>

    
</body>
</html>


